body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	line-height: 1.5;
	color: #24292e;
}

.ui-widget {
	font-family: inherit;
	font-size: inherit;
}

div#MyText {
	font-family: inherit;
	font-size: inherit;
	width: 60%;
	background-color: #ECF0F1;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	padding: 8px;
}

.ui-menu {
	margin: 0;
	padding: 0;
	top: 0;
	background-color: #FFFFFF;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.ui-menu-item-wrapper {
	display: block;
	padding: 4px 6px;
}

.ui-menu-item-wrapper:hover,
.ui-state-active {
	background-color: #34495E;
	color: #FFFFFF;
	cursor: pointer;
}

.ui-helper-hidden-accessible {
	display: qnone;
}

.ui-helper-hidden-accessible {
	padding: 4px 0 0 0;
	font-size: smaller;
}
